* {
    margin: 0;
    padding: 0;
    color: #fff;
}
.section1 {
    background-image: url(section1.jpg);
    width: 100%;
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}
.heading1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
span {
    background-color: grey;

}
.sec1 {
    background-color: grey;
    height: 40vh;
}
.sec1 .heading2 {
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    padding-top: 55px;
}
.sec1 .para {
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    font-size: 20px;
}
.section2 {
    background-image: url(section2.jpg);
    width: 100%;
    height: 50vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}
.section2 .heading1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.sec2 {
    background-color: grey;
    height: 40vh;
    
}
.sec2 .heading2 {
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    padding-top: 55px;
}
.sec2 .para {
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    font-size: 20px;
}
.section3 {
    background-image: url(section3.jpg);
    width: 100%;
    height: 50vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}
.section3 .heading1 {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.sec3 {
    background-color: grey;
    height: 40vh;
}
.sec3 .heading2 {
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    padding-top: 55px;
}
.sec3 .para {
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    font-size: 20px;
}
.section4 {
    background-image: url(section4.jpg);
    width: 100%;
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}
.heading {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
